{% extends 'layouts/master.html' %}

{% block content %}
<main>
    <div class="container">
        <div class="companies">
            <div class="row">
                <div class="col-sm-4">
                    {% if request.user.is_authenticated %}
                        {% include "profile/left.html" %}
                    {% endif %}
                </div>
                <div class="col-sm-8">
                    <div class="companies-list">
                        <div class="row">
                            {% for company in companies %}
                                <div class="company col-sm-12">
                                    <h5>{{ company.type }} {{ company.name }}</h5>
                                    <p>{{ company.short_description }}</p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
